# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java2_homeworks\java_git2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
